.mat-elevation-z8{
    width: 1000px;
    border-radius : 25px;
    top: 20%;
    left: 25%;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }